<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css"/>
  <title>My Favorite Books</title>
</head>
<body>
  <h1>My Favorite Books</h1>
  <!-- This is where I am going to display my saved books...eventually -->
</body>
</html>