ul {
    font-size:2em;
}

li {
    padding: .25em;
    list-style-type: none;
}

li div {
    font-size:.5em;
    display:none;
}

li.active div {
    display:block;
}

img {
    width: 200px;
    border: 2px solid black;
    margin-right: 1em;
}