<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>quantities

  </title>
</head>
<body>
  <h1>I am the quantities</h1>

  <% yourKey.forEach(item => { %>
    <h2>name: <%= item.name %>, quantity: <%= item.quantity %></h2>
  <% }) %>




</body>
</html>